# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# .NET
*.user
*.userosscache
*.suo
*.dll
*.pdb
*.cache
project.lock.json
project.fragment.lock.json
artifacts/
publish-test/
**/publish-test/

# Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.swp

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# Rider
*.sln.iml

# User-specific files
*.suo
*.user
*.userprefs

# OS files
.DS_Store
Thumbs.db
